html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  top: 0px;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

.topnav {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-decoration: underline;
}

.main {
  margin-top: 68px;
}

#mission {
  display: flex;
  background-image: url("/Users/jenniferpage/Documents/projects/tea_cozy/resources/images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  align-items: center;
  margin: auto;
  margin-bottom: 70px;
}

#mission-banner {
  display: inline-flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
}

#mission-banner h2, h4 {
  margin: 10px;
}

#featured-tea {
  width: 1000px;
  margin: auto;
  margin-bottom: 60px;
}

.tea-blocks {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.tbloc img {
  display: block;
  width: 300px;
  height: 200px;
  margin: 10px;
}

#locations {
  display: flex;
  flex-direction: column;
  background-image: url("/Users/jenniferpage/Documents/projects/tea_cozy/resources/images/img-locations-background.jpg");
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 1200px;
  background-repeat: no-repeat;
}

.location-content {
  display: inline-flex;
  flex-direction: row;
  margin: auto;
}

.loc-box {
  background-color: black;
  width: 300px;
  margin: 15px 20px 0px 20px;
  opacity: 1;
}

#locations h2 {

}

.loc-box p {
  padding: 6px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer h5 {
  margin: 15px 0px;
}

.footer #copyright {
  align-self: left;
  margin: 20px;
}
